﻿@model Kino03.Models.Rezerwacja

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Rezerwacja</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.rzad)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.rzad)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.kolumna)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.kolumna)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Seans.WersjaJęzykowa)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Seans.WersjaJęzykowa)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AspNetUsers.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AspNetUsers.Email)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
