﻿@model Kino03.Models.Rezerwacja

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Rezerwacja</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.rzad)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.rzad)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.kolumna)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.kolumna)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Seans.WersjaJęzykowa)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Seans.WersjaJęzykowa)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AspNetUsers.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AspNetUsers.Email)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.idRezerwacja }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
