﻿@model IEnumerable<Kino03.Models.Rezerwacja>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p><br />
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Seans.idSeans)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seans.Film.Tytuł)
            </th>
            <th>
                Sala
            </th>
            <th>
                Rząd
            </th>
            <th>
                Miejsce
            </th>
            
            
            
            <th>
                @Html.DisplayNameFor(model => model.AspNetUsers.UserName)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Seans.idSeans)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seans.Film.Tytuł)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seans.Sala.Numer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rzad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kolumna)
            </td>
            
            
            
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUsers.UserName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.idRezerwacja }) |
                @Html.ActionLink("Details", "Details", new { id=item.idRezerwacja }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.idRezerwacja })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
