﻿@model IEnumerable<Kino03.Models.Rezerwacja>

<table class="table">
    <tr>
        <th>
            Data
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seans.Film.Tytuł)
        </th>
        <th>
            Sala
        </th>
        <th>
            Rząd
        </th>
        <th>
            Miejsce
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Seans.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seans.Film.Tytuł)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seans.Sala.Numer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rzad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kolumna)
            </td>

            <td>
                @Html.ActionLink("Anuluj rezerwacje", "Delete", new { id = item.idRezerwacja })
            </td>
        </tr>
    }

</table>
