﻿@{
    ViewBag.Title = "Admin";
}

<h1>ASP.NET</h1>

<h2>Baza danych, rezerwacja biletów kinowych</h2>

<p>
    @Html.ActionLink("Sale", "Index", "Salas")
</p>
<p>
    @Html.ActionLink("Filmy", "Index", "Films")
</p>
<p>
    @Html.ActionLink("Seanse", "Index", "Seans")
</p>
<p>
    @Html.ActionLink("Rezerwacje", "Index", "Rezerwacjas")
</p>
<p>
    @Html.ActionLink("Użytkownicy", "Index", "AspNetUsers")
</p>

@* Comment goes here
        <p>
        @Html.ActionLink("nazwa na stronie np Filmy", "nazwa strony w folderze np Index", "Nazwa folderu np Films")
    </p>*@