﻿@{
    ViewBag.Title = "Kontakt";
}
<h2>Kontakt.</h2>


<address>
    Maciej Piórek - 218755@student.pwr.edu.pl <br />
    Mariusz Wasilewski - 2185015@student.pwr.edu.pl<br />
    Automatyka i Robotyka<br />
    Wydział Elektroniki<br />
    Politechnika Wrocławska<br />
    <br />
    Projekt powstał do celów edukacyjnych na zajęcia dot. baz danych.
</address>

