﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p>Witamy w systemie rezerwacji biletów kinowych</p>
    <p>@Html.ActionLink("Zarezerwuj bilet już teraz!", "Wybierz", "Seans")</p>
</div>

<div class="row">


    <div class="col-md-4">
        <h2>Admin</h2>
        <p>
            Panel admina dostępny jest po zalogowaniu administratora.<br />
            @Html.ActionLink("Admin", "Admin", "Home")
        </p>
        

    </div>

    <div class="col-md-4">
        <h2>Kontakt</h2>
        <p>
            Kontakt do twórców strony.<br />
            @Html.ActionLink("Kontakt", "Contact", "Home")
        </p>
    </div>


    <div class="col-md-4">
        <h2>Informacje</h2>
        <p>
            Informacje o projekcie.<br />
            @Html.ActionLink("Informacje", "About", "Home")
        </p>
    </div>





</div>