﻿@model Kino03.Models.AspNetUsers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>AspNetUsers</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EmailConfirmed)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EmailConfirmed)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PasswordHash)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PasswordHash)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SecurityStamp)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SecurityStamp)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PhoneNumberConfirmed)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TwoFactorEnabled)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TwoFactorEnabled)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LockoutEndDateUtc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LockoutEndDateUtc)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LockoutEnabled)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LockoutEnabled)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AccessFailedCount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AccessFailedCount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Nazwisko)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nazwisko)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Imię)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Imię)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
