﻿@model Kino03.Models.Seans

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Seans</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Data)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Data)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.WersjaJęzykowa)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.WersjaJęzykowa)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Wymiar)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Wymiar)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Film.Tytuł)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Film.Tytuł)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Sala.idSala)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Sala.idSala)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.idSeans }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
