﻿@model IEnumerable<Kino03.Models.Seans>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Views</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WersjaJęzykowa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wymiar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Film.Tytuł)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sala.Numer)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WersjaJęzykowa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wymiar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Film.Tytuł)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sala.Numer)
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
