﻿@model IEnumerable<Kino03.Models.Seans>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Wybierz</title>
</head>
<body>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Film.Tytuł)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                Wersja językowa
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wymiar)
            </th>
            <th>
                Numer sali
            </th>
            <th>
                Numer seansu
            </th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Film.Tytuł)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WersjaJęzykowa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wymiar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sala.Numer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idSeans)
            </td>
            <td>
                @Html.ActionLink("Zarezerwuj", "Zarezerwuj", "Rezerwacjas", new { id = item.idSeans, sala=item.Sala.idSala }, null)
               <!--   @Html.ActionLink("Edit", "Edit", new { id=item.idSeans }) |  --> 
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
