﻿@model IEnumerable<Kino03.Models.Sala>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p><br />
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rzędy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kolumny)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rzędy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kolumny)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.idSala }) |
                @Html.ActionLink("Details", "Details", new { id=item.idSala }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.idSala })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
