﻿@model IEnumerable<Kino03.Models.Sala>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Views</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rzędy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kolumny)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rzędy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kolumny)
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
